/*COLOR SCHEME 2F4F7F | AACCFF | 5E9EFF | 55667F | 4B7FCC*/
*{
	 box-sizing: border-box;
	 }
	 
body{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.2em;
	color: #FFF;
	background-color: #4B7FCC;
	padding: 0 0 0 .3rem;
	margin: 0 .6rem .3rem .3rem;
	border: solid #AACCFF;
	border-width: 0 0 .2rem .1rem;
	border-radius: 0 0 0 24px;
	text-align: center;
}

header{
	/*text-align: right;*/
	position: fixed;
	width: 100%;
	border: solid #AACCFF;
	border-width: 1px 0 4px 4px;
	border-radius: 0 0 0 24px;
	background-color: #2F4F7F;
	/*height: 4em;*/
}

h1{
	font-size: 1.5rem;
	text-transform:uppercase;
	text-decoration:underline;
	letter-spacing: .3rem;
	word-spacing: 1rem;
	text-align:center;
	margin: 32px 16px 16px 16px;
	color: #2F4F7F;
}

nav{
	width: 100%;
	text-align: left;
	padding: 16px 18px 26px 32px;
	margin: 0px 0px 3rem 0px;
}

ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

li{
	display: inline;
}

li p{
	margin: 0 0 .8rem 0;
	}

section{
	width: 100%;
	padding: 9rem 0 0 0;
	margin: 0 0 10rem 0;
	border: solid #AACCFF;
	border-width: 0 0 2rem .1rem;
	border-radius: 0 0 0 24px;
}

section ul li{
	width: 30%;
	min-width: 156px;
	text-align:left;
	font-size: .8rem;
	text-decoration:none;
	display:inline-block;
	vertical-align:top;
	margin: 0px 6px 0px 6px;
	padding: 0px 0px 0px 0px;
}
	
article{
	padding: 11rem 0 0 0;
	text-align: left;
	line-height: 1.8rem;
	width: 100%;
	border: solid #AACCFF;
	border-width: 0 0 2rem .1rem;
	border-radius: 0 0 0 24px;
	margin: 0;
	width: 100%;
	padding: 9rem 0 9rem 0;
	
	
}	
	
article img{
	float: left;
	margin: 0 1rem 0 1rem;
}

footer{
	margin: -7rem 0 0 0;
	font-size: .7em;
	float:right;
}
	
footer ul li:first-child {
	padding: 0 3rem 0 0;
}	

a:link{
	font-family: 'Comfortaa', sans-serif;
	font-weight:300;
	color: #FFF;
	font-size: 2em;
	margin: 0px 1em 0px 0px;
	padding: 0p;
	white-space: nowrap;
	text-decoration:none;
}

a:active{
	font-family: 'Comfortaa', sans-serif;
	font-weight:300;
	color: #55667F;
	font-size: 2em;
	margin: 0px 1em 0px 0px;
	padding: 0;
	text-decoration: none;
}

a:visited{
	font-family: 'Comfortaa', sans-serif;
	font-weight:300;
	color: #FFF;
	font-size: 2em;
	margin: 0px 1em 0px 0px;
	padding: 0;
	white-space: nowrap;
}
	
a:hover{
	ffont-family: 'Comfortaa', sans-serif;
	font-weight:300;
	color: #4B7FCC;
	font-size: 2em;
	margin: 0px 1em 0px 0px;
	padding: 0;
	text-decoration: none;
}
i{
	cursor:pointer;
	float: right;
}
	
		